/* :::: GLOBAL STYLE :::: */
*{margin: 0; padding: 0; box-sizing: border-box;}
 
:root{
  font-family: 'Courier New', Courier, monospace; 
  font-size: 100%;
  --bodyBackground: rgb(240, 240, 240);
  --mainBackground: rgb(76, 185, 231);
  --headerBackground:rgb(255, 255, 236);
  --cardColor:rgb(241, 228, 195);
  --mapsButtonColor: rgb(255, 243, 211);
}
 
body{
  width: 100%;
  height: 100%;
  margin: 0em auto;
  background: var(--bodyBackground);
}

.header_default{
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap:wrap;
  gap: 0.5rem;
  height: 12.5rem;
  width: 100%;
  top: 0;
  padding: 1rem;
  background: var(--headerBackground);
  box-shadow: 0px 0px 1rem black;
}

.home_wrap{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  flex-wrap: wrap;
  gap:0.25rem;
}

.home_link{
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 4px;
  color: black;
  list-style: none;
}
.home_link:hover{
  opacity: 0.6;
}
.link_wrap{
  list-style: none;
}