.main {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 12rem;
    background-color: var(--mainBackground);
}
.country_list_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8rem;
    width: 100%;
}
.search_wrap{
    position: fixed;
    margin-top: 8rem;
    z-index: 100;
    border: 2px solid black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 8px;
    height: 6rem;
    width: 100%;
    top: 0; 


    background: var(--headerBackground);
}
