/* :: form style :: */
.form_wrap{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    background-color: transparent;
} 

.search_nation, .select_region{
    margin: 8px;
    padding-right: 6px;
    height: 2rem;
    width: 18rem;
    font-size: 1.2rem;
}

label{
    margin-left: 1rem;
    font-size: 1.6rem;
} 

