ul{
    list-style: none;
}
li{ 
    letter-spacing: 8px;
    display: inline;
    margin: 8rem;
}
.link{
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.link:hover{
    opacity: 0.6;
}
