.search_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 2.6rem;
    padding: 1rem;
    background-color: transparent;
}

.search_nation{
    margin-left: 2rem;
    width: 16rem;
    height: 1.8rem;
    font-size: 1.2rem;
}

